/*=======================
    FONTS
=======================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*=======================
    LAYOUT
=======================*/

html {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.header {

    position: sticky;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 69px;

    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .header_titulo {

    font-weight: bold;
    font-size: 37px;
    line-height: 43px;


    color: #FFF;

} 

.conteudo {

    margin: 80px 0 0 0;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.caixa_usuario {

    height: 180px;
    width: 75%;

    border: 2px dashed #D4D4D4;
    border-radius: 5px;


}

.caixa_geral {

    margin: 80px 0 0 0;
    width: 75%;
    height: auto; 

    /*background-color: lightblue;*/


}

.caixa_geral_titulo {

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000;

}

.caixa_geral_lista {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}



.caixa_geral_quizz {

    width: 341px;
    height: 181px;

    position: relative;

    margin: 2% 0 0 0;
    
}

.caixa_geral_quizz img {
    height: 100%;
    width: 100%;
}

.quizz_background {

    position: absolute;
    z-index: 0;

    object-fit: cover;

}

.quizz_titulo {

    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
    /*top: 70%;
    left: 5%;*/
    z-index: 1;

    padding: 0 5% 5% 5%;


    
    font-size: 19px;

    word-break: break-word;

    color: #FFF;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%)

}

.quizz_titulo span{}


.quizz_header {

    position: absolute;
    top: 0;

    height: 230px;
    width: 100%;

    margin: 69px 0;;

}

.quizz_header_img {

    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

}

.quizz_header_titulo {

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;

    color: #FFF;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%)

}

.quizz_question_box {

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 240px 0 0 0;

    width: auto;

}



.question_box {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;
    height: auto;

    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(109,109,109,0.75);

    margin-bottom: 45px;

    background-color: #FFF;

}


.quizz_questions {

    /*position: relative;*/ 
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: auto;
  


    /*top: 240px;*/

}

.question_title {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 140px;

    margin-top: 30px;

    font-weight: 700;
    text-align: center;
    font-size: 23px;
    line-height: 27px;

    color: #FFF;

}

.question_box_content {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: auto;

}

.answer_box {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: flex-start;

    width: 80%;

    margin: 20px 0 0 0;

}

.answer_option {

    width: 330px;
    height: 220px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;

}

.answer_image{
    
    width: 80%;
    height: 175px;
    object-fit: cover;
}


.answer_text {
    width: 100%;
    padding-left: 10%;
}

/*Criação quizz:*/

.informacoes-basicas,
.caracteristicas,
.criar-perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacoes-basicas>h2,
.criar-perguntas>h2 {
    font-size: 23px;
    margin-top: 70px;
    margin-bottom: 27px;
    font-weight: 700;
}

.caracteristicas>input,
.perguntas>input {
    width: 564px;
    height: 46px;
    text-align: left;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 10px;
    border: solid 1px #D1D1D1;
    border-radius: 5px;
    padding-left: 20px;
}

.caracteristicas>input::placeholder 
.perguntas>input::placeholder{
    color: #D1D1D1;
}

.caracteristicas,
.perguntas, .adicionar-perguntas {
    width: 600px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.caracteristicas {
    height: 256px;
}

.perguntas {
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

.adicionar-perguntas {
    height: 74px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

}

.adicionar-perguntas>ion-icon{
    font-size: 26px;
}

.botao-continuar {
    width: 370px;
    height: 54px;
    margin-top: 85px;
    background-color: #EC362D;
    color: #FFF5F4;
    border-radius: 15px;
    text-align: center;
    font-size: 21px;
}

.perguntas>h3, .adicionar-perguntas{
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0px;
}

.escondido {
    display: none;
}