/*=======================
    FONTS
=======================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*=======================
    LAYOUT
=======================*/

html {
    font-family: 'Roboto', sans-serif;
}


.header {

    position: sticky;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 69px;

    background-color: #EC362D;

}

.header .header_titulo {

    font-weight: bold;
    font-size: 37px;
    line-height: 43px;


    color: #FFF;

} 

.conteudo {

    margin: 80px 0 0 0;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.caixa_usuario {

    height: 180px;
    width: 75%;

    border: 2px dashed #D4D4D4;
    border-radius: 5px;


}

.caixa_geral {

    margin: 80px 0 0 0;
    width: 75%;
    height: auto; 

    /*background-color: lightblue;*/


}

.caixa_geral_titulo {

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000;

}

.caixa_geral_lista {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}



.caixa_geral_quizz {

    width: 341px;
    height: 181px;

    position: relative;

    margin: 2% 0 0 0;
    
}

.caixa_geral_quizz img {
    height: 100%;
    width: 100%;
}

.quizz_background {

    position: absolute;
    z-index: 0;

    object-fit: cover;

}

.quizz_titulo {

    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: relative;
    /*top: 70%;
    left: 5%;*/
    z-index: 1;

    padding: 0 5% 5% 5%;


    
    font-size: 19px;

    word-break: break-word;

    color: #FFF;

    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%)

}

.quizz_titulo span{}