/*=======================
    FONTS
=======================*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*=======================
    LAYOUT
=======================*/

html {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 69px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.redirect_home {
  text-decoration: none;
}

.header .header_titulo {
  font-weight: bold;
  font-size: 37px;
  line-height: 43px;

  color: #fff;
}

.conteudo {
  margin: 80px 0 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.caixa_usuario {
  height: 180px;
  min-width: 340px;
  width: 74.5vw;
  border: 2px dashed #d4d4d4;
  border-radius: 5px;
}

.caixa_geral {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0 0 0;
  width: calc(18px + 74vw);
  height: auto;
}

.caixa_geral_titulo {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.caixa_geral_lista {
  width: 100vw;
  display: grid;
  /*grid-template-columns: repeat(auto-fill, minmax(calc(5.5vw + 270px), 270px));*/
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw;
}

.caixa_geral_quizz {
  width: 100%;
  height: calc(3vw + 180px);
  position: relative;
  margin: 0.5vh 1vw 0.5vh 0;
  border-radius: 5px;
}

.caixa_geral_quizz img {
  height: 100%;
  width: 100%;
}

.quizz_background {
  position: absolute;
  z-index: 0;

  object-fit: cover;
}

.quizz_titulo {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
  /*top: 70%;
    left: 5%;*/
  z-index: 1;

  padding: 0 5% 5% 5%;

  font-size: 19px;

  word-break: break-word;

  color: #fff;

  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
}

.quizz_titulo span {
}

.quizz_header {
  position: absolute;
  top: 0;

  height: 230px;
  width: 100%;

  margin: 69px 0 0 0;
}

.quizz_header_img {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.quizz_header_titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100%;
  color: #fff;
  font-weight: 400;
  font-size: calc(3.25vw + 19px);
  line-height: 46px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  word-break: break-word;
}

.quizz_header_titulo span {
  text-align: center;
}

.quizz_question_box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 240px 0 0 0;

  width: auto;
}

/*WIDTH BELLOW ADJUSTS WITH VIEW WIDTH
BUT: IT SHOULD BE width: 100vw; IF MOBILE LAYOUT ACTIVATES
*/
.question_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  width: 70vw;
  height: auto;

  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(109, 109, 109, 0.75);

  margin-bottom: 45px;

  background-color: #fff;
}

.quizz_questions {
  /*position: relative;*/
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: auto;

  /*top: 240px;*/
}

.question_title {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60.2vw;
  height: 140px;

  margin-top: 30px;

  font-weight: 700;
  text-align: center;
  font-size: calc(0.3vw + 23px);
  line-height: 27px;

  color: #fff;

  border-radius: 4px;
}

.question_title_text {
  width: 80vw;
  word-break: break-all;
}

.question_box_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: auto;
}

.answer_box {
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  word-break: break-word;
  width: 100%;
  margin: 2vh 0 2vh 0;
  */
  word-break: break-word;
  width: 69vw;
  margin: 2vh 0 2vh 0;
  display: flex;
  flex-wrap: wrap;
}

.answer_option {
  width: 34.2vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;

  margin: 1vh 0 1vh 0;
}

.answer_image {
  width: 25.5vw;
  height: 14vw;
  object-fit: cover;
  border-radius: 4px;
}

.answer_text {
  font-size: calc(0.8vw + 13px);
  line-height: min(20px);
  width: 30vw;
  padding: 0.8vh 2vw 2vh 2vw;
}

.selecionado {
}

.nao_selecionado {
  opacity: 0.2;
}

.correto {
  color: green;
}

.incorreto {
  color: red;
}

.results {
  width: 80vw;
  padding: 2vh 0 2vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results_title_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 60vw;
  height: 140px;

  background-color: #ec362d;

  margin-bottom: 3vh;

  border-radius: 5px;
}

.results_title_box * {
  font-size: calc(0.7vw + 19px);
  font-weight: bold;
  text-align: center;
  color: #fff;
  word-break: break-word;
}

.results_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: left;
  width: 60vw;
  margin-bottom: 2vh;
}

.results_img {
  width: 30vw;
  height: 25vh;
  object-fit: cover;
  border-radius: 4px;
}

.results_text {
  font-size: calc(0.4vw + 17px);
  font-weight: bold;
  color: #484848;
  line-height: 25px;
  text-align: top;
  padding: 0 0 0 1vw;
  word-break: break-word;
}

.quizz_reset {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 52px;
  width: 260px;

  border-radius: 15px;

  background-color: #ec362d;

  margin-bottom: 16px;
}

.quizz_reset * {
  text-align: center;
  font-size: 21px;
  color: #fff5f4;
}

.quizz_quit {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  width: 220px;

  background-color: inherit;

  margin-bottom: 40px;
}

.quizz_quit * {
  font-size: 21px;
  color: #818181;
}

@media (max-width: 476px) {

  .caixa_geral {
    margin: 30px 0 0 0;
  }

  .caixa_geral_lista {
    grid-template-columns: 1fr;
  }

  .caixa_geral_quizz {
    margin-left: 0;
    margin-right: 0;
  }

  .question_box {
    width: 100vw;
  }

  .question_title {
    width: 84vw;
  }

  .question_box_content {
    margin-bottom: 20px;
    height: auto;
    width: 100%;
    /*margin-left: 25%;*/
  }

  .answer_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    word-break: break-word;
  }

  .answer_image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 4px;
  }

  .answer_text {
    font-size: calc(0.8vw + 13px);
    line-height: min(20px);
    width: 100vw;
    padding: 0 0 2vh 0;
  }
}

/*Criação quizz:*/

.informacoes-basicas,
.caracteristicas,
.criar-perguntas,
.criar-niveis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.informacoes-basicas > h2,
.criar-perguntas > h2,
.criar-niveis > h2 {
  font-size: 23px;
  margin-top: 70px;
  margin-bottom: 27px;
  font-weight: 700;
}

.caracteristicas > input,
.perguntas > input,
.outrasperguntas > input {
  width: 564px;
  height: 46px;
  text-align: left;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 10px;
  border: solid 1px #d1d1d1;
  border-radius: 5px;
  padding-left: 20px;
}

.caracteristicas > input::placeholder .perguntas > input::placeholder {
  color: #d1d1d1;
}

.caracteristicas,
.perguntas,
.adicionar-perguntas {
  width: 600px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.caracteristicas {
  height: 256px;
}

.perguntas {
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

.adicionar-perguntas {
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.adicionar-perguntas > ion-icon {
  font-size: 26px;
}

.botao-continuar {
  width: 370px;
  height: 54px;
  margin-top: 85px;
  background-color: #ec362d;
  color: #fff5f4;
  border-radius: 15px;
  text-align: center;
  font-size: 21px;
  margin-bottom: 400px;
}

.perguntas > h3,
.adicionar-perguntas {
  font-size: 20px;
  font-weight: 700;
}

.perguntas > h3 {
  margin: 15px 0px;
}

input.url1,
input.url2 {
  margin-bottom: 30px;
}
.escondido {
  display: none;
}
